/* Css styles for tab */
@media (max-width: 1023px) {
    header {
        padding-top: 160px;
    }

    header .container {
        flex-direction: column;
    }

    .header-content {
        width: 100%;
    }
}

/* Css styles for mobile */
@media (max-width: 767px) {
    .menu {
        display: none;
    }

    .menu-icon {
        display: block;
        width: 30px;
    }
}