/* Css styles for tab */
@media (max-width: 1023px) {
    header .container {
        flex-direction: column;
        padding-top: 160px;
    }

    .header-content {
        width: 100%;
    }

    .header-content:first-child {
        max-width: 580px;
    }

    .header-content:nth-child(2) {
        max-width: 500px;
        margin: auto;
    }

    .section-2 {
        padding: 80px 0px;
    }

    .s2-card-grid {
        grid-template-columns: repeat(2, 1fr);
        max-width: 600px;
        margin: auto;
    }

    .section-3-content {
        gap: 68px;
    }

    .section-3-left,
    .section-3-right {
        width: 50%;
    }

    .section-4-top {
        padding: 80px 0px;

    }

    .section-4-top .title-block {
        margin: 0;
    }
}

/* Css styles for mobile */
@media (max-width: 767px) {
    h1 {
        font-size: 36px;
        max-width: 200px;
    }

    h2 {
        font-size: 32px;
    }

    h5 {
        font-size: 16px;
    }

    .site-btn {
        font-size: 14px;
        padding: 12px 36px;
    }

    .header-content:first-child h5 {
        max-width: 270px;
    }

    .menu {
        display: none;
    }

    .menu-icon {
        display: block;
        width: 30px;
    }

    .tp-box-1 div {
        font-size: 30px;
    }

    .tp-box-2 img {
        width: 30px;
    }

    .tp2-content div {
        font-size: 18px;
    }

    .header-content:nth-child(2) {
        max-width: 400px;
    }

    .transparent-box {
        padding: 16px;
    }

    .tp-box-1 {
        right: 0;
        top: 0px;
    }

    .tp-box-2 {
        bottom: 150px;
    }

    .section-2 {
        padding: 60px 0px;
    }

    .s2-card-grid {
        grid-template-columns: repeat(1, 1fr);
        max-width: 250px;
        margin: auto;
    }

    .section-3-content {
        flex-direction: column;
        padding: 30px;
        gap: 30px;
    }

    .section-3-left,
    .section-3-right {
        width: 100% !important;
    }

    .section-3-right {
        height: 200px;
        background-size: cover;
        background-position: center;
    }

    .section-4-top {
        padding: 60px 0px;
    }

}